.col-title {
  font-weight: 600;
  font-size: 36px;
}

.col-text {
  font-weight: 400;
  font-size: 20px;
  margin-top: 1rem;
}

.card-img {
  object-fit: cover;
  border-radius: 5px;
}

.card-title {
  font-size: medium;
}

.card-text {
  font-size: small;
}
