.card {
  width: 260px;
  border: none;
}

.card .card-img {
  object-fit: cover;
  border-radius: 8px;
}

.card .card-img-overlay .card-title {
  color: white;
  font-size: medium;
}

.card .card-img-overlay .card-text {
  color: white;
  font-size: small;
}

/* Mobile Responsiveness */
@media screen and (max-width: 412px) {
  .card .card-img-overlay .card-title {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
