.search-bar {
  color: rgba(167, 167, 167, 0.628);
  max-width: 457px;
  padding: 10px;
  border: solid 0.5px rgba(167, 167, 167, 0.628);
  border-radius: 4px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar input {
  border: none;
  width: 88%;
}

.search-bar input:focus {
  outline: none;
}

.checkitems {
  max-height: 240px;
  margin-top: 1rem;
}

/* Mobile Responsiveness */
@media screen and (max-width: 420px) {
  .search-bar input {
    width: 179px;
  }

  .checkitems {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    max-height: 65%;
    margin-top: 0;
  }
}
