.cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.p{
    font-size: large;
    font-weight: 400;
}

.btn{
    border: none;
    border-radius: 6px;
    font-size: large;
    padding: 10px;
}

.btn:hover{
    color: rgb(255, 253, 253);
    background-color: rgb(30, 28, 28);
}
