.dine-cnt {
  padding: 0 82px;
}

.dine-cnt img {
  margin-top: 2rem;
  object-fit: cover;
}

.dine-cnt .mb-dis {
  display: none;
}

.dine-cnt .switch-links {
  display: none;
}

.dine-cnt .dsk-dis {
  display: block;
}

.dine-cnt .dine-coll-cards {
  display: flex;
  justify-content: space-between;
}

.dine-cnt #ntlf-coll-cards {
  justify-content: flex-start;
  gap: 20px;
}

/* Mobile Responsiveness */

@media screen and (max-width: 412px) {
  .dine-cnt {
    padding: 0 15px;
  }

  .dine-cnt .mb-dis {
    display: block;
  }

  .dine-cnt .switch-links {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    padding-left: 20px;
  }

  .dine-cnt .switch-links .switch-active {
    color: red;
  }

  .dine-cnt .dsk-dis {
    display: none;
  }

  .dine-cnt .dine-coll-cards {
    overflow-x: auto;
    gap: 10px;
  }

  .dine-cnt .card {
    width: 200px;
    height: 240px;
  }

  .dine-cnt .card img {
    width: 200px;
    height: 240px;
    margin: 0;
  }

  .dine-cnt .card .card-img-overlay {
    width: 200px;
    height: 240px;
    padding: 10px 5px;
  }

  .dine-cnt #ntlf-coll-cards {
    gap: 10px;
  }
}
