.user-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.user-modal {
  position: absolute;
  top: 70px;
  right: 80px;
  width: 170px;
  height: max-content;
  background-color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.user-modal-overlay .user-modal .link {
  color: black;
  padding: 10px;
  border-radius: 6px;
}

.user-modal-overlay .user-modal .link:hover {
  background-color: rgb(234, 224, 224);
}
