.filter-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.74);
}

.filter-box {
  margin-top: 1rem;
  width: 700px;
  background: white;
  border-radius: 6px;

  position: fixed;
  top: 0px;
  left: 22%;
  transform: scale(1);
  box-shadow: rgba(28, 28, 28, 0.15) 0px 1.2rem 7rem;
  -webkit-box-pack: center;
  z-index: 11;
}

.top {
  font-size: 1.6rem;
  padding: 20px;
  border-bottom: 0.5px solid rgba(201, 199, 199, 0.671);
}

.content {
  min-height: 420px;
  border-bottom: 0.5px solid rgba(201, 199, 199, 0.671);
}

.content .filter-by {
  min-width: 20%;
  font-size: 1.2rem;
  cursor: pointer;
}

label {
  cursor: pointer;
}

#active {
  border-left: 4px solid red;
  background-color: white;
}
