body {
  font-family: Okra, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  padding: 20px 82px;
  border-bottom: 0.5px solid rgba(205, 205, 205, 0.553);
  box-shadow: rgba(28, 28, 28, 0.15) 0px 0.4rem 0.5rem;
}

.main {
  padding: 10px 130px;
  margin-bottom: 2rem;
}

.main-cnt {
  padding: 20px 82px;
}

/* .card {
  color: black;
  border-radius: 12px;
  width: 328px;
  height: 248px;
} */

.link {
  color: #696969;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
}
.link:hover {
  color: #696969;
}

.active {
  color: #ef4f5f;
}

.deactivate {
  pointer-events: none;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.deactivate img {
  opacity: 0.3;
}
