body {
  font-family: Okra, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  padding: 10px 130px;
  margin-bottom: 2rem;
}

.main-cnt {
  padding: 40px 82px;
}

.link {
  color: #696969;
  text-decoration: none;
}
.link:hover {
  color: #696969;
}

.active {
  color: #ef4f5f;
}

/* Mobile Responsiveness */

@media screen and (max-width: 412px) {
  .main-cnt {
    padding: 24px;
  }
}
