.search-bar {
  max-width: 457px;
  padding: 10px;
  border: solid 0.5px;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.search-bar input {
  border: none;
  width: 88%;
}

.search-bar input:focus {
  outline: none;
}

.checkitems {
  height: 240px;
  max-height: 240px;
}
