.cuisines-box {
  /* position: relative;
  left: 210px;
  padding-bottom: 35px;

  background: white;
  border-radius: 6px;
  box-shadow: rgba(28, 28, 28, 0.15) 0px 12px 70px 0px; */

  position: fixed;
  padding: 25px;
  width: 500px;
  box-shadow: rgba(28, 28, 28, 0.15) 0px 0.8rem 6.4rem;
  border: 0.05rem solid rgb(248, 248, 248);
  border-radius: 1.2rem;
  background: rgb(255, 255, 255);
  z-index: 9;
  top: 5rem;
  left: 330px;
  pointer-events: auto;
  /* min-width: 27rem; */
}

.cuisineTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.content {
  font-size: 1rem;
}

.search-bar {
  max-width: 457px;
  padding: 10px;
  border: solid 0.5px;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.search-bar input {
  border: none;
  width: 88%;
}

.search-bar input:focus {
  outline: none;
}

.checkitems {
  height: 240px;
  max-height: 240px;
}
